.modal-container{
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 300;
}
.modal-container .modal-shadow{
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.459);
}
.modal-container .modal-shadow .modal-content{
  position: absolute;
  top: 0;
  right: 2%;
  width: 27%;
  height: auto;
  background-color: white;
  z-index: 200;
  padding: 1em;
}
.modal-container .modal-shadow .content .close-icon{
  cursor: pointer;
  font-size: 1.2em;
}
.modal-container .content .product-info .title{
  font-size: 0.9em;
  font-weight: 600;
}
.modal-container .content .product-info .size{
  font-size: 0.8em;
}
.modal-container .content .product-info .color{
  font-size: 0.8em;
}
.modal-container .content .product-info .quantity{
  font-size: 0.8em;
}
.modal-container .content .price{
  font-size: 0.9em;
  font-weight: 600;
}
.modal-container .content .button-container .pay{
  border: 1px solid black;
  background-color: black;
  font-weight: 600;
  padding: 0.5em 0em;
}
.modal-container .content .button-container .pay a{
  color: white;
}
.modal-container .content .button-container .cart{
  border: 1px solid black;
  background-color: white;
  color: black;
  font-weight: 600;
  padding: 0.5em 0em;
}
.modal-container .content .product-info .product-image{
  background-size: cover;
  background-position: center;
}

hr{
  margin: 0;
}
@media (max-width: 576px){
  .modal-container .modal-shadow .modal-content{
    width: 80%;
  }
}