.product-container .image-container{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.product-container .category-title a{
  font-size: 1em;
  color: rgb(73, 73, 73);
}
.product-container .product-info h4{
  font-size: 1.2em;
  font-weight: 600;
}
.product-container .product-description p{
  font-size: 0.9em;
}
.product-container .product-color p{
  font-size: 0.8em;
}
.product-container .product-color .color{
  font-weight: 600;
  font-size: 0.9em;
}
.product-container .color-icon{
  font-size: 1.5em;
  color: rgb(0, 0, 54);
}
.product-container .size-info{
  font-size: 0.8em;
}
.product-container .size-numbers{
  font-size: 0.9em;
  font-weight: 600;
}
.product-container .size-description{
  font-size: 0.8em;
}
.product-container .button-purchase button{
  width: 100%;
  padding: 0.5em 0em;
  border: 2px solid black;
  background-color: black;
  color: white;
  font-weight: 600;
  transition: 0.5s;
}
.product-container .button-purchase button:hover{
  background-color: white;
  color: black;
}
.only-product-banner{
  width: 100vw;
  height: 30vh;
  background-size: cover;
  background-position: center;
  margin-bottom: 2em;
}